<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.folder.Folder plugin="cloudbees-folder@5.11">
  <actions/>
  <description></description>
  <properties/>
  <views>
    <hudson.model.AllView>
      <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.5.3.1">
      <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../.."/>
      <name>test</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>Build Trigger</firstJob>
        <firstJobLink></firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>3</noOfDisplayedBuilds>
      <buildViewTitle></buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>false</alwaysAllowManualTrigger>
      <showPipelineParameters>false</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.5.3.1">
      <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../.."/>
      <name>SOE Dev Pipeline</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>GIT_Checkout</firstJob>
        <firstJobLink></firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>2</noOfDisplayedBuilds>
      <buildViewTitle>Dev SOE Build</buildViewTitle>
      <consoleOutputLinkStyle>New Window</consoleOutputLinkStyle>
      <cssUrl>http://jenkins.lab.home.gatwards.org/pub/jenkins-bv.cssx</cssUrl>
      <triggerOnlyLatestJob>true</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>false</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.5.3.1">
      <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../.."/>
      <name>DEV Build Pipeline</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>true</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>Development/GIT_Checkout</firstJob>
        <firstJobLink>job/SOE/view/DEV%20Build%20Pipeline/job/Development/job/GIT_Checkout/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>1</noOfDisplayedBuilds>
      <buildViewTitle>DEV SOE Build Pipeline</buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>true</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>false</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.9.10">
      <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../.."/>
      <name>DEV build</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Development/Boot_Test_VMs</string>
        <string>Development/Build_RHEL6_Net1</string>
        <string>Development/Build_RHEL7_Net1</string>
        <string>Development/Deploy_Puppet_Modules</string>
        <string>Development/GIT_Checkout</string>
        <string>Development/Notify_Success</string>
        <string>Development/Push_Kickstarts</string>
        <string>Development/Test_RHEL6_Net1</string>
        <string>Development/Test_RHEL7_Net1</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
      </columns>
      <recurse>true</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>true</includeStdJobList>
      <hideJenkinsPanels>false</hideJenkinsPanels>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets/>
      <rightPortlets/>
      <topPortlets>
        <au.com.centrumsystems.hudson.plugin.buildpipeline.dashboard.BuildPipelineDashboard plugin="build-pipeline-plugin@1.5.3.1">
          <id>dashboard_portlet_16833</id>
          <name>Build Pipeline Dashboard View</name>
          <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
            <firstJob>Development/GIT_Checkout</firstJob>
            <firstJobLink></firstJobLink>
          </gridBuilder>
          <noOfDisplayedBuilds>1</noOfDisplayedBuilds>
          <description>SOE Development Build</description>
        </au.com.centrumsystems.hudson.plugin.buildpipeline.dashboard.BuildPipelineDashboard>
      </topPortlets>
      <bottomPortlets/>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.9.10">
      <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../.."/>
      <name>vvv</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.view.dashboard.Dashboard/jobNames/comparator"/>
        <string>Development/Boot_Test_VMs</string>
        <string>Development/Build_RHEL6_Net1</string>
        <string>Development/Build_RHEL7_Net1</string>
        <string>Development/Deploy_Puppet_Modules</string>
        <string>Development/GIT_Checkout</string>
        <string>Development/Notify_Success</string>
        <string>Development/Push_Kickstarts</string>
        <string>Development/Test_RHEL6_Net1</string>
        <string>Development/Test_RHEL7_Net1</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
      </columns>
      <recurse>true</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>true</includeStdJobList>
      <hideJenkinsPanels>false</hideJenkinsPanels>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets/>
      <rightPortlets/>
      <topPortlets/>
      <bottomPortlets>
        <au.com.centrumsystems.hudson.plugin.buildpipeline.dashboard.BuildPipelineDashboard plugin="build-pipeline-plugin@1.5.3.1">
          <id>dashboard_portlet_1126</id>
          <name>Build Pipeline Dashboard View</name>
          <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
            <firstJob>Development/GIT_Checkout</firstJob>
          </gridBuilder>
          <noOfDisplayedBuilds>1</noOfDisplayedBuilds>
          <description></description>
        </au.com.centrumsystems.hudson.plugin.buildpipeline.dashboard.BuildPipelineDashboard>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
  </views>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <healthMetrics>
    <com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric/>
  </healthMetrics>
  <icon class="com.cloudbees.hudson.plugins.folder.icons.StockFolderIcon"/>
</com.cloudbees.hudson.plugins.folder.Folder>